<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.dictionary.dictcc</string>
	<key>CFBundleName</key>
	<string>dict.cc</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2 - $Rev: 3 $</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © 2008 Paul Hemetsberger, dict.cc / Philipp Brauner, lipflip.org / Wolfgang Reszel, www.tekl.de</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Paul Hemetsberger, dict.cc / Philipp Brauner, lipflip.org / Wolfgang Reszel, www.tekl.de</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
</dict>
</plist>
